//Fonts

@font-face {
	font-family: 'font1';
	src: url(../fonts/Lato-Bla.ttf);
}

@font-face {
	font-family: 'font2';
	src: url(../fonts/Lato-BlaIta.ttf);
}


@font-face {
	font-family: 'font3';
	src: url(../fonts/Lato-Bol.ttf);
}

@font-face {
	font-family: 'font4';
	src: url(../fonts/Lato-BolIta.ttf);
}


@font-face {
	font-family: 'font5';
	src: url(../fonts/Lato-Lig.ttf);
}

@font-face {
	font-family: 'fontt6';
	src: url(../fonts/Lato-LigIta.ttf);
}

@font-face {
	font-family: 'font7';
	src: url(../fonts/Lato-Reg.ttf);
}

@font-face {
	font-family: 'font8';
	src: url(../fonts/Lato-RegIta.ttf);
}
